<div class="card text-center">
    <div class="card-header">
      We'd like to keep you updated!
    </div>
    <div class="card-body">
      <h5 class="card-title">Don't skip a beat with what's going on at Schoodle</h5>
    <p class="card-text"></p>
      <a href="#" class="btn btn-success">Stay updated</a>
    </div>
    <div class="card-footer text-muted">
      Made with <i class="fas fa-heart"> at Lighthouse Labs </i>
    </div>
  </div>