  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-3">
        <div class="card text-center">
          <div class="card-header">
            We'd like to keep you updated!
          </div>
          <div class="card-body">
            <h5 class="card-title">Don't skip a beat with what's going on at Schoodle</h5>
            <p class="card-text"></p>
             <a href="#" class="btn btn-success">Stay updated</a>
          </div>
          <div class="card-footer text-muted">
            Made with <i class="fas fa-heart"> at Lighthouse Labs </i>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</footer>
  <!-- Footer -->
