  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left mb-4">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-3">
        <div class="text-center">
          <h1>We'd like to keep you updated!</h1>
          <br>
          <h5>Don't skip a beat with what's going on at Schoodle</h5>
          <br>
          <a href="#" class="btn btn-success">Stay updated</a>
        </div>
      </div>
    </div>
  </div>
<!-- Copyright -->
  <div class="footer-copyright text-center py-3">Made with
    <i class="fas fa-heart"> </i> at Lighthouse Labs
  </div>
</footer>
  <!-- Footer -->
