<!DOCTYPE html>
<html lang="en">
  <% include partials/_header %>

  <body>
    <% include partials/_nav %>
    <h1>You've been invited to `${Title}`</h1>
    <h3>What works best for you?</h3>
    <a href="/events/<%= eventID %>/guest_confirmation" class="btn btn-primary"><i class="fas fa-edit"></i>Submit</a>
    <form method="POST" action="/events/<%= eventID %>/delete_confirmation">
      <div class="form-group col-md-4 mt-4 offset-md-4">
        <button type="submit" style="width:250px;" class="btn btn-info text btn-md mb-4"></i>Decline Event</button>
      </div>
    <% include partials/_footer %>
  </body>
</html>



