<!DOCTYPE html>
<html lang="en">
  <% include partials/_header %>

  <body>
    <% include partials/_nav %>
    <h1>You've been invited to `${Title}`</h1>
    <h3>What works best for you?</h3>
    <a href="/events/<%= eventID %>/guest_confirmation" class="btn btn-primary"><i class="fas fa-edit"></i>Submit</a>

  <% include partials/_footer %>
  </body>
</html>



