<% include partials/_header %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Thank you for voting!</h1>
    <a href="/events/<%= eventID %>/results" class="btn btn-primary"><i class="fas fa-edit"></i>View Results</a>

    <a href="/events/<%= eventID %>/guest_confirmation/modify" class="btn btn-primary"><i class="fas fa-edit"></i>Modify</a>

  </body>
</html>

<% include partials/_footer %>

