<% include partials/_header %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome Link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Almost there...</h1>
      </div>
    </div>

    <h3> Share your event with your friends! </h3>
    <h5> Your event ID: <%= eventID %></h5>
    <h6> That was easy! </h6>
    <a href="/" class="btn btn-success"><i class="fas fa-home"></i> Go Back </a>
<!-- It can also say: "Create another event" -->
  <!-- SCRIPT TAGS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>

<% include partials/_footer %>
