<!DOCTYPE html>
<html lang="en">
<% include partials/_header %>

  <body>
  <% include partials/_nav %>

  <!-- Jumbotron holding Image -->
    <div class="jumbotron jumbotron-fluid">
      <img src="https://images.pexels.com/photos/908298/pexels-photo-908298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
    </div>
  <!-- BUSINESS LOGO -->
    <div class="logo">
      <h3><i>With Schoodle, event scheduling has never been easier.</i></h3>
    </div>

  <!-- CUSTOMER QUOTE -->
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>I only use Schoodle to schedule my meetings. Schoodle makes scheduling painless!</p>
      <footer class="blockquote-footer">Vasily K., CEO of Voogle</footer>
    </blockquote>
  </div>

 <% include partials/_footer %>

  <!-- jQuery Link -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
