<!DOCTYPE html>
<html>
  <head>
    <title>Schoodle</title>
  </head>

  <body>
    <label>Name:<input type="text"></label>
    <label>Email:<input type="email"></label>
    <a href="/events" class="btn btn-info">Continue</a>
  </body>
</html>