<!DOCTYPE html>
<html>
  <head>
    <% include partials/_header %>
    <title>Schoodle</title>
  </head>

  <body>
    <% include partials/_nav %>
    <label>Name:<input type="text"></label>
    <label>Email:<input type="email"></label>
    <a href="/events" class="btn btn-info">Continue</a>
    <% include partials/_footer %>
  </body>
</html>
