<!DOCTYPE html>
<html>
<head>
  <title>Schoodle</title>
</head>
<body>
<label>Name:<input type="text">
<label>Email:<input type="email">
<a href="/events" class="btn btn-info">Continue</a>
</body>
</html>