/*Index Page*/
.jumbotron{
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.jumbotron img {
   height: 100%;
   width: 100%;
}

.footer-copyright {
  background-color: #fac05e;
  color: #495057;
}

.footer-copyright i {
  color: #dc3545;
}

