/* Index page */
.jumbotron {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.jumbotron img {
  height: 100%;
  width: 100%;
}

.logo {
  text-align: center;
}

html, body {
  min-height: 100%;
}

.card-body {
  text-align: center;
}
/* -------------------- */

/* Event_URL page */
.checkbox {
  height: 25px;
  width: 25px;
}

#poll_logo {
  text-align: center;
  margin: 30px;
}

#title {
  font-size: 20px;
}

#location {
  font-size: 20px;
}

#note {
  font-size: 20px;
}

/* Event URL */
#date1 {
  font-size: 20px;
}

#date2 {
  font-size:20px;
}

#date3 {
  font-size:20px;
}
/* -------------------- */

/* Host confirmation page */
.col-xs-6 {
  width: 50%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

#copy-eventID {
  width: 87%;
}
/* -------------------- */

/* Footer */
.footer-copyright {
  background-color: #fac05e;
  color: #495057;
}

.footer-copyright i {
  color: #dc3545;
}